li a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 24px;


    border-width: 1px;
    border-style: solid;
    border-color: 1px solid var(--stroke-color);
    border-radius: 8px;
    background-image: var(--surfarce-color);

    text-decoration: none ;
    font-weight: bold;
}

li a:hover {
    background-color: var(--surfarce-color-hover);
    border-color: var(--text-color);
}