body {
  margin: 0;
  background: #690b47b9;
  font-family: Arial, sans-serif;
  color: white;
}

.app {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

.header {
  height: 74px;
  background: #83065ecb;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 18px;
  margin-top: 14px;
}

.header h1 {
  margin: 0;
  font-size: 22px;
}

.header input {
  width: 220px;
  height: 26px;
  border: none;
  outline: none;
  background: #a71ca795;
  color: rgba(170, 5, 82, 0.879);
  padding-left: 8px;
  font-size: 12px;
}

.header button {
  width: 36px;
  height: 28px;
  border: none;
  border-radius: 4px;
  background: #8d175afb;
  color: rgb(0, 0, 0);
  cursor: pointer;
}

h2 {
  text-align: center;
  margin-top: 34px;
  margin-bottom: 16px;
  font-size: 16px;
}


.promo-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.preco-antigo {
  font-size: 11px;
  color: red;
}

.preco-atual {
  font-size: 20px;
  background: #620646ca;
}

.desconto {
  background: #12444d;
  font-size: 25px;

}

.promo-card {
  width: 220px;
  max-width: 100%;
  background: #770c5ee4;
  text-align: center;
  padding-bottom: 10px;
}

.promo-card img {
  width: 220px;
  height: 290px;
  object-fit: cover;
  display: block;
}

.promo-card p {
  margin: 7px 0;
  font-size: 12px;
}

.promo-card h3 {
  margin: 14px 0;
  font-size: 16px;
}

.promo-card h2 {
  margin: 10px 0;
  font-size: 12px;
  color: #ad2560c0;
}

.promo-card button {
  width: 200px;
  height: 35px;
  border: none;
  border-radius: 4px;
  background: #550432;
  color: white;
  font-size: 12px;
}

.game-row {
  width: 100%;
  height: 72px;
  background: #581e3e;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  max-width: 900px;
}

.game-row img {
  width: 100%;
  max-width: 220px;
  height: 70px;
}

.game-row div {
  width: 280px;
  margin-left: 12px;
}

.game-row h3 {
  margin: 0;
  font-size: 13px;
}

.game-row p {
  margin-top: 5px;
  font-size: 11px;
  color: #d6e2ea;
}

.game-row h2 {
  width: 100px;
  margin: 0;
  text-align: left;
  font-size: 18px;
  color: #ffffff;
}

.game-row button {
  width: 180px;
  height: 25px;
  border: none;
  border-radius: 4px;
  background: #851d6b;
  color: white;
  font-size: 9px;
  cursor: pointer;
}

.cart {
  position: fixed;
  right: 70px;
  top: 105px;
  width: 210px;
  background: #5f0a4a;
  padding: 14px;
}