:root {
   /* :root -> variaveis de css no tema original projetado*/
  --font-relaway: "Relaway", sans-serif;
  --bg-primary: #f5f5f5;
}

@media (prefers-color-scheme: dark) {
  /*Dark theme*/
  :root {
    --bg-primary: #212426;
  }
}

body {
  font-family: var(--font-relaway);
  background: var(--bg-primary);
}

